.icon-link img {
  width: 50px; /* 아이콘 크기 조절 */
  height: auto;
}
.icon-container {
  position: absolute;
  left: 20px;
  top: 20px;
}
.icon-link {
  position: relative;
}
.icon-link.facebook {
  margin-right: 20px;
}
.icon-link.volt {
  left: -30px;
}
.play-button {
  display: block;
  margin: 0 auto;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  background-color: #4caf50;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.play-button:hover {
  background-color: #880000;
  font-size: 18px;
  font-weight: bold;
  color: #222222;

}
.black-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s; /* 암전 시간을 조절하려면 이 값을 변경하세요. */
  z-index: 9999;
}


.thumbnail {
    position: relative;
    display: inline-block;
    margin-right: 10px;
  }
  
  .thumbnail img {
    width: 20%;
    height: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
  }
  .thumbnail img:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    transform: scale(1.01);
  }
  .thumbnail-container {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    padding: 20px 0;
  }
  body {
    background-color: #eee;
    background-color: #ffffff;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
    margin: 0; 
    padding: 0;
  }
  .hero {
    background-image: url("back.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.9;
    color: #fff;
    text-align: center;
    padding: 100px 0;
    margin-bottom: 30px; 
    position: relative;
  }

  .hero h1 {
    font-size: 6rem;
    font-weight: 800;
    margin-bottom: 14px;
    text-shadow: 2px 2px #000;
  }
  @media only screen and (max-width: 767px) {
.hero h1 {
  font-size: 24px;
}
}
  .section-title {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 13px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #444;
    text-shadow: 1px 1px #fff;
  }
  .timeline {
    margin-bottom: 10px;
  }
  .timeline li {
    position: relative;
    margin-left: 80px;
    margin-bottom: 12px;
    list-style: none;
  }
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 60px;
  }
  footer p {
    font-size: 0.8rem;  
  }
  