.thumbnail {
    position: relative;
    display: inline-block;
  }
  
  .thumbnail img {
    width: 100%;
    height: auto;
  }
  
  .thumbnail .info {
    position: absolute;
    background-color: yellow;
    color: black;
    display: none;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  }
  
  .thumbnail:hover .info {
    display: block;
  }
  